<head>
	<style type="">
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>All Users</th>
				<th>Favorite Color</th>
				<th>Mod Time</th>
				<th>Message</th>
				<th>Message Time</th>
			</tr>
		</thead>
		<tbody>
			{% for p in users %}
				<tr>
					<td>
						<a href="{{ url_for('user_profile', username=p.username) }}"/>{{ p.username }}</a>
					</td>
					<td>
						{{ p.color }}
					</td>
					<td>
						{{ p.mod_time if p.mod_time else "---" }}
					</td>
					{% if p.messages.all()|length > 0 %}
						{% set message_time = get_latest_message(p.username) %}
						<td>
							{{ message_time }}
						</td>
						<td>
							{{ Message.query.filter_by(timestamp=message_time).one().body }}
						</td>
					{% else %}
						<td>---</td>
						<td>---</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>{{ users|length }} total users</th>
			</tr>
		</tfoot>
	</table>
</body>
